---
import { getImage } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import SocialLinks from '../components/social-links.astro'
import Section from '../components/section.astro'
import WorkItem from '../components/work-item.astro'
import HeroImage from '../images/hero.jpg'
import MarcheRunner from '../images/marcherunner/marcherunner.png'
import MapleLeafs from '../images/mapleleafsdrought/mapleleafsdrought.png'
import Laura from '../images/lcm/lcm.png'
import Astra from '../images/astra/astra.png'

const heroImage = await getImage({ src: HeroImage })
---

<Layout title="Andrew Tham">
  <style>
    @reference 'tailwindcss';
    p {
      @apply mb-6 text-justify leading-6 text-gray-600;
    }
  </style>
  <SocialLinks align="right" />
  <div
    class="mb-20 h-[450px] bg-cover bg-bottom-left grayscale md:bg-bottom"
    style={`background-image: url(${heroImage.src})`}
  >
  </div>

  <Section title="work" description="Selected works and past projects.">
    <div class="grid grid-cols-1 gap-16 sm:grid-cols-2">
      <WorkItem
        description="Coping with disappointing performance of the Toronto Maple Leafs with a fun little art project."
        href="/mapleleafsdrought"
        image={MapleLeafs}
        title="Maple Leafs Drought"
      />
      <WorkItem
        description="Website for my dog, Astra."
        href="/astra"
        image={Astra}
        title="Astra the dog"
      />
      <WorkItem
        description="A web application to help you on your weekly shopping trips."
        href="/marcherunner"
        image={MarcheRunner}
        title="MarchéRunner"
      />
      <WorkItem
        description="Website with secure client portal designed, built, and deployed for Orthodontic Speaker and Coach Laura Cafik-Martin."
        href="/lcm"
        image={Laura}
        title="Cafik-Martin Coaching"
      />
    </div>
  </Section>
</Layout>
